body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: green;
  background-image: URL(table.png);
  background-size: cover;
}

h1 {
  color: hsl(43, 74%, 49%); 
}

#message-el {
  font-style: italic;
}