body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: green;
  background-image: URL(table.png);
  background-size: cover;
  text-align: center;
  color: #ffffff;
  font-weight: 800;
}

h1 {
  color: hsl(43, 74%, 49%); 
}
button {
  max-width: 6em;
  align-self: center;

}

#message-el {
  font-style: italic;
}

#game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 100vh;
  max-width: 90vh;
  margin: auto;
  padding: 1em;
  background-color:hsla(43, 74%, 49%, .25)
}