body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #008000;
  background-image: URL(table.png);
  background-size: cover;
  text-align: center;
  color: #ffffff;
  font-weight: 800;
}

h1 {
  color: hsl(43, 74%, 49%); 
  margin-top: 3em;
}

button {
  color: #016f32;
  background-color: #daa520;
  width: 150px;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  padding: 5px;
  margin: 2px auto;
}

div {
  background-color: hsla(282, 33%, 14%, 0.7);
  margin: auto;
  padding: 2em;
  max-width: fit-content;
}


#message-el {
  font-style: italic;
}

